.root{
  display: flex;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  background-color: black;
  border: 1px solid brown;
  gap:20px;

  span{
    margin-left: 20px;
    font-size: 30px;
    color: brown;
  }

  input{
    width: 500px;
    height: 30px;
    border: 1px solid brown;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
  }

  button{
    margin-left: 20px;
   background-color: brown;
   font-size: 19px;
   cursor: pointer;
  }

  img{
    margin-left: 30px;
    width: 100px;

  }
}