.userListWrapper{
  max-width: 300px;
  width: 100%;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  border: 1px solid brown;
  
  span{
    font-size: 25px;
    color: red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  a{
    color: brown;
    font-size: 20px;
    
    &:hover{
      cursor: pointer;
      color: red;
      font-size: 25px;
      border-bottom: 1px solid red;
    }
  }
}